<h1 mat-dialog-title>Add project</h1>
<div mat-dialog-content class="dialog">
  <form [formGroup]="addProjectForm">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Project name</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>User name</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Project description</mat-label>
          <input matInput formControlName="description" required>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="delete">Back</button>
  <button mat-raised-button class="margin-left" [mat-dialog-close]="addProjectForm" [disabled]="!addProjectForm.valid"
          color="success">Add
  </button>
</div>
