<app-project-nav>
  <div class="mat-elevation-z8 margin-left-right min-width-rem">

    <div class="margin-all">
      <button mat-mini-fab class="top-button" (click)="addSprintModal()" color="primary" matTooltip="Add sprint">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let sprint"> {{ sprint.title }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let sprint"> {{ sprint.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef>Start date</mat-header-cell>
        <mat-cell *matCellDef="let sprint"> {{ sprint.start_date.toDate() | date:'dd/MM/yy' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef>End date</mat-header-cell>
        <mat-cell *matCellDef="let sprint"> {{ sprint.end_date.toDate() | date:'dd/MM/yy' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button routerLink="/projects/{{ projectId }}/sprints/{{ row?.id }}" class="margin-right" mat-mini-fab
                  color="edit" matTooltip="Open board">
            <mat-icon>home</mat-icon>
          </button>
          <button (click)="editSprintModal(row)" class="margin-right" mat-mini-fab color="edit"
                  matTooltip="Edit sprint">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="row.id != activeSprint;else isActive" (click)="setActiveSprintModal(row.id)" mat-mini-fab color="edit"
                  matTooltip="Set active">
            <mat-icon>open_in_browser</mat-icon>
          </button>

          <ng-template #isActive>
            <p id="activeText">Active!</p>
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</app-project-nav>
