<div id="main-div">
  <div id="head-div">
    <mat-toolbar id="toolbar" fxFlex fxLayout>
      <div fxFlex>
        <button mat-button [routerLink]="'/projects'">Projects</button>
      </div>
      <div fxFlex fxLayoutAlign="center center">
        <a [routerLink]="'/'">
          <img class="logo-img" src="assets/logo_no_bg.png">
        </a>
      </div>
      <div fxFlex fxLayoutAlign="flex-end center">
        <button mat-icon-button aria-label="Toggle user menu" [matMenuTriggerFor]="userMenu" id="userMenu">
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-menu #userMenu="matMenu">
      <div *ngIf="!authService.getUser()">
        <button mat-menu-item [routerLink]="'/register'">Register</button>
        <button mat-menu-item id="loginButton" [routerLink]="'/login'">Login</button>
      </div>
      <div *ngIf="authService.getUser()">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item id="logoutButton" (click)="logout()">Logout</button>
      </div>
    </mat-menu>
  </div>
  <div id="content-div">
    <router-outlet></router-outlet>
  </div>
</div>
