<h1 mat-dialog-title>Edit project</h1>
<div mat-dialog-content class="dialog">
  <form [formGroup]="editProjectForm">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Project status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let status of projectStatus | keyvalue" value="{{ status.value }}">
              {{ status.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="delete">Back</button>
  <button mat-raised-button class="margin-left" [mat-dialog-close]="editProjectForm" [disabled]="!editProjectForm.valid"
          color="success">Edit</button>
</div>
